.env
# Virtual environment folders
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Ignore env files with secrets
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MoviePy or multimedia temp files
*.mp4
*.mov
*.avi

# IDE/editor directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS system files
.DS_Store
Thumbs.db